.gradle
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/classes
build/resources
build/reports
build/test-results
build/tmp
nbbuild/
dist/
nbdist/
.nb-gradle/


